<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jculverapps.notepad.core"
    android:installLocation="internalOnly"
    android:versionCode="107"
    android:versionName="5.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/"notepad""
        android:theme="@style/AppTheme" >

    </application>

</manifest>

